---
// Components
import { Image } from "@astrojs/image/components";

// Assets
import heroMobile from "../assets/img/hero-mobile.jpg";
import heroDesktop from "../assets/img/hero-desktop.jpg";

import githubIcon from "../assets/img/social/github.svg";
import twitterIcon from "../assets/img/social/twitter.svg";
import linkedinIcon from "../assets/img/social/linkedin.svg";

// Locale Mesages
import esMessages from "../locales/es.json";
import enMessages from "../locales/en.json";

// Nanostores
import { currentLocale } from "../store";

const messages = {
  en: enMessages.header,
  es: esMessages.header,
};
---

<header id="header">
  <Image
    alt=""
    class="background mobile"
    format="webp"
    quality={20}
    src={heroMobile}
  />
  <Image
    alt=""
    class="background desktop"
    format="webp"
    quality={50}
    src={heroDesktop}
  />
  <div class="dark-layer" aria-hidden="true"></div>

  <h1 class="headline title">Leandro Hanc</h1>
  <p class="headline subtitle">{messages[currentLocale].subtitle}</p>

  <ul id="social-icons">
    <li class="social-icon">
      <a href="https://github.com/leo10099" target="_blank">
        <img src={githubIcon} alt="Github Page" width="24" height="24" />
      </a>
    </li>
    <li class="social-icon">
      <a href="https://www.linkedin.com/in/leandrohanc" target="_blank">
        <img src={linkedinIcon} alt="My LinkedIn Page" width="24" height="24" />
      </a>
    </li>
    <li class="social-icon">
      <a href="https://twitter.com/HancLeandro" target="_blank">
        <img src={twitterIcon} alt="My Twitter" width="24" height="24" />
      </a>
    </li>
  </ul>

  <a class="cta" href="mailto:leandrohanc@outlook.com.ar">
    {messages[currentLocale].cta}
  </a>
</header>

<style lang="sass">
  @import "../styles/mixins.sass"

  #header
    height: 100%
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    // padding-top: 3rem

    // @include min-md
    //   padding: 6rem

    .background
      width: 100%
      height: 100%

      object-fit: cover
      position: absolute
      top: 0
      left: 0
      @include clipped-rtl

      &.desktop
        display: none

        @include min-md
          display: block

      &.mobile
        @include min-md
          display: none

    .dark-layer
      width: 100%
      height: 100%
      background-color: black
      inset: 0
      opacity: 0.4
      position: absolute
      @include clipped-rtl

    .headline
      cursor: default
      position: relative
      text-align: center
      transform: translateY(-1rem)
      text-shadow: var(--shadow-1)
      position: relative

      /* TITLE */
      &.title
        color: var(--grey-500)
        font-size: 5rem
        font-family: 'Allison', cursive
        font-weight: normal
        text-align: center

        @include min-md
          line-height: 1
          font-size: 5.5rem

          @include min-lg
            font-size: 8rem

      /* SUBTITLE */
      &.subtitle
        color: var(--blue300)
        font-size: 1rem
        font-weight: 500
        letter-spacing: 8px
        max-width: 85%
        line-height: 1.7
        text-shadow: var(--shadow-1)
        text-transform: uppercase
        text-align: center

        @include min-md
          margin-top: 1.3rem
          font-size: 1.3rem

    /* SOCIAL ICONS */
    #social-icons
      margin: 3.5rem auto
      position: relative
      width: 100%
      display: flex
      justify-content: center
      gap: 2rem

      @include min-md
        margin: 4.5rem auto

      .social-icon
        cursor: pointer
        transform: rotate(0) scale(1.2)
        display: grid
        place-content: conter
        transition: 0.3s all ease

        &:hover
          backface-visibility: hidden
          transform: rotate(1turn) scale(1.5)
          transition: 0.35s all ease

    /* CTA BUTTON */
    a.cta,
    a.cta:visited
      background-image: linear-gradient(to right, var(--blue500), var(--red500), var(--purple500))
      border-radius: 3rem
      border: none
      color: white
      cursor: pointer
      font-family: 'Open Sans'
      font-weight: 600
      letter-spacing: 4px
      margin-top: 2rem
      text-decoration: none
      text-shadow: none
      text-transform: uppercase
      transition: all 0.4s
      padding: 1rem
      position: relative

    a.cta:hover
      transform: translateY(-3px)

    a.cta:hover::after
      transform: scaleX(1.4) scaleY(1.6)
      opacity: 0

    a.cta:active,
    a.cta:focus
      outline: none
      transform: translateY(-1px)
      box-shadow: 0 0.5rem 1rem rgba(black, 0.2)

    a.cta::after
      content: ''
      display: block
      height: 100%
      width: 100%
      border-radius: 4rem
      z-index: -1
      position: absolute
      top: 0
      background-image: linear-gradient(to right, var(--blue500), var(--red500), var(--purple500))
      left: 0
      transition: all 0.4s

    @include min-md
      a.cta,
      a.cta:visited,
      a.cta:active
        margin-top: 4rem
        font-size: 1rem
        padding: 1rem 3rem
        width: fit-content
</style>
