---
// Components
import SectionTitleInBackground from "../SectionTitleInBackground.svelte";
import FlipCard from "./components/FlipCard.svelte";
import PressCardToFlip from "./components/PressCardToFlip.svelte";

// Assets
import got from "../../assets/img/work/got.jpg";
import cdc from "../../assets/img/work/crema-de-caramelo.jpg";
import dji from "../../assets/img/work/dji.jpg";

const projects = [
  {
    name: {
      es: "¿Quién sos en Game of Thrones?",
      en: "Who are you in GOT?",
    },
    description: {
      es: "Descubre qué personaje serías en Game of Thrones indicando tu nivel de acuerdo con las posibles respuestas a cuatro preguntas que reflejan tu personalidad y filosofía personal.",
      en: "Find out which character you would be in Game of Thrones by indicating your level of agreement with the possible answers to four questions that reflect your personality and personal philosophy.",
    },
    image: got,
    technologies: ["React", "React Router"],
    type: "Sideproject",
    year: 2020,
    link: "https://test-got.now.sh",
    repoUrl: "https://github.com/leo10099/which-got-character-are-you",
  },
  {
    name: {
      es: "Dev job inspector",
      en: "Dev job inspector",
    },
    description: {
      es: "Aplicación web que te ayuda a encontrar empleos como desarrollador de software en Argentina.",
      en: "Web app that helps you find Software Developer jobs in Argentina.",
    },
    image: dji,
    technologies: ["React", "Node JS", "Puppeteer", "Typescript"],
    type: "Freelance",
    year: 2021,
    link: "https://dev-jobs.vercel.app/",
    repoUrl: "https://github.com/leo10099",
  },
];
---

<section id="work">
  <div class="main-container">
    <PressCardToFlip client:load />
    <SectionTitleInBackground text="work" client:load />
    {
      projects.map((project) => (
        <FlipCard
          client:load
          projectImage={project.image.src}
          projectName={project.name}
          projectTechnologies={project.technologies}
          projectType={project.type}
          projectLink={project.link}
          projectYear={project.year}
          projectRepoUrl={project.repoUrl}
          projectDescription={project.description}
        />
      ))
    }
  </div>
</section>

<style lang="sass">
  #work
    min-height: 100%
    padding-top: 10rem
    padding-bottom: 10rem
    position: relative
    .main-container
      display: flex
      flex-wrap: wrap
      gap: 2rem
</style>
